$black: #282c34;
$white: #abb2bf;
$gray: #7f848e;
$yellow: #e5c07b;
$orange: #d19a66;
$red: #e06c75;
$purple: #c678dd;
$blue: #61afef;
$green-blue: #56b6c2;
$green: #98c379;
$selection: rgba(148, 170, 209, 0.2);
