.language-json {
  .token {
    &.punctuation,
    &.operator {
      color: $white;
    }
    &.string {
      color: $green;
    }
    &.boolean,
    &.number,
    &.null.keyword {
      color: $orange;
    }
    &.property {
      color: $red;
    }
  }
}
